body {
    color: rgba(146,210,255,0.49);
    font: normal 12px sans-serif;
    color: black;
}

.rows {
    width: 100%;
    height: 100%;
    margin: 1em;
    padding: 1em;
}

table {
    width: 100%;
    height: 100%;
}

tr {
    height: 20px;
}

table, tr, td {
    border: grey 1px solid;
}

.text-center {
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}
