body {
    color: rgba(146,210,255,0.49);
    font: normal 12px sans-serif;
    color: black;
}

.container {
    margin: 1em;
    padding: 1em;
}

.table, tr {
    width: 100%;
    height: 100%;
    border: grey 2px solid;
    border-radius: 2.5%;
}

td {
    width: auto;
    border-style: solid;
    border-color: grey;
    font-size: 50px;
    font-weight: bolder;
    padding: 1em;
}

.text-center {
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}
